<div id="options">
	Select a product<br>
	<% @item_options.each do |item| %>
		<%= link_to item.name, fetch_item_path(filename: item.filename), remote: true %><br>
	<% end %>

	Select a size<br>
	<% @size_options.each do |size| %>
		<%= link_to size, fetch_size_path(size: size), remote: true %><br>
	<% end %>

	Select a graphic<br>
	<% @graphic_options.each do |graphic| %>
		<%= graphic.name %><br>
	<% end %>
</div>

