<div id="options">
	Select a product<br>
	<% @item_options.each do |item| %>
		<%= item.name %><br>
	<% end %>

	Select a size<br>
	<% @size_options.each do |size| %>
		<%= size %><br>
	<% end %>

	Select a graphic<br>
	<% @graphic_options.each do |graphic| %>
		<%= graphic.name %><br>
	<% end %>
</div>