<h1>TeePublic + Cloudinary = <3</h1>

<h3>Art with Max-Width 600</h3>
<div class="image-container">
	<%= cl_image_tag("Freud_Rage_Art.png", width: "600", crop: :fit) %>
</div>

<h3>Art 800X800 with dimensions:</h3>
<div class="image-container">
	<%= cl_image_tag("Freud_Rage_Art.png", width: "800", height: "800", crop: :fit) %>
</div>

<h3>Design on shirt:</h3>
<div class="product">
	<%= cl_image_tag("Womens-Tee-Asphalt.png", overlay: "Freud_Rage_Art.png", width: "430", height: "573", crop: :fit, gravity: :north_west, x: "410", y: "350") %>
</div>

<h3>Design on phone case:</h3>
<div class="product">
	<%= cl_image_tag("iphone-7-plus.png", transformation: {background: "#a30000"}, overlay: "Freud_Rage_Art.png", width: "430", height: "573", crop: :fit, gravity: :south_east, x: 405, y: 425,) %>
</div>
