<h1>TeePublic + Cloudinary = <3</h1>

<%= render 'options' %>

<div id="item">
	<%= render partial: 'item', locals: {item: @item} %>
</div>

<div id="graphic">
	<%= render partial: 'graphic', locals: {graphic: @graphic, size: @size }%>
</div>

