// Place all the styles related to the Main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.product {
	position: relative;
}

.graphic {
	position: absolute;
	left: 410px;
	top: 350px;
}

.graphic-phone {
	position: absolute;
	left: 425px;
	top: 375px;
}

h1, h3 {
	text-align: center;
}

.image-container {
	text-align: center;
}